<h1>My Posts</h1>

<% @posts.each do |post| %>
  <div class="post">
    <h3><%= link_to post.title, post %> <br><span class="date"> <%= post.created_at.strftime('%Y, %B %d')%></span></h3>

    <p><%= truncate(post.content, length: 80,) %></p>
  </div>
<% end %>
<%= will_paginate @posts %>

<div class="sign_out">
  <% if user_signed_in? %>
  <li><%= link_to "New Post", new_post_path%></li>
  <% end %>
</div>
